.Maincontainer{
    /* border: 2px solid red; */
    height: 38rem;
    padding-top: 1rem;
}
.vversion{
    color: rgb(40, 200, 200);
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    gap: 1em;
    font-size: 0.7em;
    
}
.version{
    background-color: rgb(40, 200, 200);
    color: white;
    width: 2.5em;
    text-align: center;
    border-radius: 0.4em;
}
.abouttheme{
    text-align: center;
    font-size: 1.3rem;
    padding-top: 0.9em;
}
.themepara{
    text-align: center;
    font-size: 1.3rem;
    padding-top: 0.5em;
}
.imgContainer{
    height: 28rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.themeimg{
    height: 22rem;
}